.slideshow_div{
  width:800px;
  background-color:pink;
  padding:50px;
}

.slideshow_div h3{
  color:white;
  margin-bottom:30px;
}

.slider{
  margin:10 auto auto;
  display:flex;
  align-items:center;
}

.slider_content{
  width:calc(100% - 100px);
  height:600px;
}

.slider_content img{
  width:100%;
  height:450px;
  object-fit:cover;
}

.slideshow_div p{
  color:white;
  font-size:14px;
}